@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
#header {
  position: fixed;

  height: 100px;
  width: 100%;
  background: black;
}
#navbar {
  top: 0;
  left: 0;

  padding: 30px 30px 0 0;
}
ul,
li {
  display: flex;
  flex: wrap;
  justify-content: flex-end;
}
#navlinks:hover {
  color: rgb(240, 73, 73);
}
#navlinks {
  margin: 0 30px 0 0;
  color: white;
  font-size: 2vh;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
#welcome-section {
  height: 100vh;
  order: 2;
}
.img {
  flex: 1;
}

.title {
  margin: 270px 110px 0 0px;
  font-size: 50px;
  white-space: normal;
  font-family: poppins;
  text-align: center;
}
#new {
  color: #de5b5a;
}

.hero {
  display: flex;
  margin: 0 0 30vw 0;
  height: 100vh;

  width: 100%;
}
#img1 {
  margin: 200px 0 0 100px;
  max-width: 70%;
  height: auto;
}

#para {
  margin: 0 0 0 20px;
  font-family: poppins;
  font-size: 2vw;
  font-weight: 200;
  color: #6b6767;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 800px 0;
}
#btn {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-family: poppins;
  border: none;
  font-size: 2vw;
  background: #87d4ff;
}
#btn:hover {
  background: rgb(41, 38, 180);
  color: White;
}
#btn2:hover {
  background: rgb(204, 53, 53);
  color: White;
}

#btn2 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: none;
  font-size: 2vw;
  font-family: poppins;
  background: #ff9594;
}
#btn3:hover {
  background: rgb(110, 13, 167);
  color: White;
}
#btn3 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 2vw;
  border: none;
  font-family: poppins;
  background: #d0baff;
}
.mid {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#projects {
  margin: 60px 0 0 0;

  height: 800px;

  background: #fff;
}
.card1 {
  margin: 150px 0 0 0;
  height: 200px;
  max-width: 20vw;
}
.buttons {
  padding: 0 0 40vh 0;
  z-index: 1;
}
.img2 {
  height: 200px;
  max-width: 20vw;
}
.card2 {
  margin: 150px 0 0 0;
  height: 200px;
  max-width: 20vw;
}
.card3 {
  margin: 150px 0 0 0;
  height: 200px;
  max-width: 20vw;
}
.card4 {
  margin: 150px 0 0 0;
  height: 200px;
  max-width: 20vw;
}
.new-para {
  font-family: poppins;
  font-size: 24px;
  color: white;
}
.new-para {
  text-align: center;
  color: black;
  font-size: 4vh;
}
#card-p {
  color: black;
  font-family: poppins;
  font-size: 3vw;
  text-align: center;
}
@media screen and(max-width: 480px) {
  ul {
    flex-wrap: wrap;
  }
  .hero {
    display: flex;

    flex-direction: column;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #img1 {
    max-width: 70%;
    height: auto;
    order: 1;
  }
  .buttons {
    padding: 200px 0 0 0;
    order: 3;
  }
}
#contact {
  height: 500px;
  width: 100%;
  background: white;
}
#form {
  margin: 0 0 0 35vw;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.labels {
  display: block;
  font-family: poppins;
}
.input {
  height: 50px;
  font-family: poppins;
  width: 60%;
}
#footer {
  height: 200px;
  width: 100%;
  bottom: 0;

  background: black;
}
.para-new {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 5vw;
  text-align: center;
  padding: 30px 0 0 0;
}
#profile-link {
  color: white;
  font-size: 20px;
  font-family: poppins;
}
#btn4 {
  height: 50px;
  width: 60%;
  background: rgb(212, 77, 77);
  border: none;
  margin: 10px 0 0 0;
  color: white;
  font-family: poppins;
}
@media only screen and (max-width: 626px) {
  .buttons {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  /* #btn {
    margin: 10px 0 40px 0;
    height: 80px;
    width: 80px;

    cursor: pointer;
  }
  #btn2 {
    margin: 10px 0 40px 0;
    height: 80px;
    width: 80px;

    cursor: pointer;
  }
  #btn3 {
    margin: 10px 0 40px 0;
    height: 80px;
    width: 80px;

    cursor: pointer;
  } */
  #para {
    font-size: 2vw;
  }
  .hero {
    height: 150vh;
  }
}
